docbook/docbook-5.2.1b1/assembly.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="assembly">

<mode name="assembly">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="rng/assembly.rng" useMode="attach"/>
    <validate schema="sch/assembly.sch" useMode="attach"/>
  </namespace>
</mode>

<mode name="attach">
  <anyNamespace>
    <attach/>
  </anyNamespace>
</mode>

</rules>
