docbook/docbook-5.2.1/dbits.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="dbits">

<mode name="dbits">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="rng/dbits.rng" useMode="attach"/>
    <validate schema="sch/dbits.sch" useMode="attach"/>
  </namespace>
</mode>

<mode name="attach">
  <anyNamespace>
    <attach/>
  </anyNamespace>
</mode>

</rules>
